@{
    Layout = null;
}


<li class="header">WLC Admin</li>
<li class="treeview">
    <a ng-click="PageLoad('Default/Liste')" href="#/Liste" class="Sorgulama"><i class="fa fa-search"></i> <span>Sorgulama</span><i class="fa fa-angle-left pull-right"></i></a>
</li>
<li>
    <a ng-click="PageLoad('Default/Rapor')" href="#/Rapor" class="Rapor"><i class="fa fa-cube"></i> <span>Rapor</span><i class="fa fa-angle-left pull-right"></i></a>
</li>
